

.moilbe {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 2024px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(77, 56, 149, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.moilbe .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 554px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -7px;
  height              : 101px;
  width               : 74px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork83 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -100px;
  height              : 310px;
  width               : 256px;
  position            : absolute;
  margin              : 0;
  left                : 54px;
  transform           : rotate(-270deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 120px;
  height              : 141px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -67px;
  height              : 262px;
  width               : 216px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 187px;
  height              : 25px;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .emailaddress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 194px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.moilbe .agamifiedgoaltrac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : auto;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.moilbe .turneverydaytasks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 370px;
  height              : auto;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .gamification {
  background-color    : rgba(255,255,255,0.0);
  top                 : 338px;
  height              : auto;
  width               : 109px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.moilbe .involvement {
  background-color    : rgba(255,255,255,0.0);
  top                 : 338px;
  height              : auto;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.moilbe .involveparentsand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 370px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 180px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 593px;
  height              : 425px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .a1parentkidaddsg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 773px;
  height              : auto;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .a2parentkidaddsr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 773px;
  height              : auto;
  width               : 106px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .a3kidcompletesgoa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 922px;
  height              : auto;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .a4kidredeemsrewar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 922px;
  height              : auto;
  width               : 89px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .howitworks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 644px;
  height              : auto;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.moilbe .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 228px;
  height              : 25px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .rectangle22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1017px;
  height              : 1751px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : -7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1511px;
  height              : 289px;
  width               : 284px;
  position            : absolute;
  margin              : 0;
  left                : 143px;
  transform           : rotate(270deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1499px;
  height              : 211px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .rectangle23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1730px;
  height              : 330px;
  width               : 428px;
  position            : absolute;
  margin              : 0;
  left                : -7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .rectangle31 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1901px;
  height              : 25px;
  width               : 229px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  border-radius       : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .emailaddress1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1908px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.moilbe .group121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1942px;
  height              : 25px;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .registerforupdates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1810px;
  height              : auto;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.moilbe .goaltracking {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1100px;
  height              : auto;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.moilbe .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1504px;
  height              : auto;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.moilbe .starquest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1302px;
  height              : auto;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.moilbe .parentsandkidscan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1146px;
  height              : auto;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .kidscancreatethei {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1550px;
  height              : auto;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .withthestarsgaine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1348px;
  height              : auto;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .appfeatures {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1066px;
  height              : auto;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.moilbe .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1100px;
  height              : 189px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group .parentviewcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 177px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group .iphone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 188px;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1451px;
  height              : 203px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : -61px;
  transform           : rotate(17deg);
  opacity             : 1.0;
}
.moilbe .receivethelatestn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1850px;
  height              : auto;
  width               : 267px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .untitledartwork9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1693px;
  height              : 65px;
  width               : 116px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 295px;
  height              : 27px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 295px;
  height              : 27px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1320px;
  height              : 155px;
  width               : 229px;
  position            : absolute;
  margin              : 0;
  left                : -41px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1571px;
  height              : 347px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 472px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .reward {
  background-color    : rgba(255,255,255,0.0);
  top                 : 487px;
  height              : auto;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.moilbe .motivatekidswithr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 519px;
  height              : auto;
  width               : 122px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.moilbe .untitledartwork37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 445px;
  height              : 30px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork10copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1627px;
  height              : 203px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  transform           : rotate(-17deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork10copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1228px;
  height              : 203px;
  width               : 167px;
  position            : absolute;
  margin              : 0;
  left                : 326px;
  transform           : rotate(-17deg);
  opacity             : 1.0;
}
.moilbe .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 698px;
  height              : 64px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 699px;
  height              : 65px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 847px;
  height              : 64px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 845px;
  height              : 64px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.moilbe .untitledartwork85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 969px;
  height              : 78px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 223px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}