

.tablet {
  width               : 100%;
  min-width           : 768px;
  height              : 100vh;
  min-height          : 3245px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(77, 56, 149, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.tablet .group13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -114px;
  height              : 1085px;
  width               : 797px;
  position            : absolute;
  margin              : 0;
  left                : -15px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group13 .rectangle23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 290px;
  height              : 795px;
  width               : 787px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group13 .untitledartwork80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 111px;
  height              : 186px;
  width               : 136px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group13 .untitledartwork83 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -46px;
  height              : 569px;
  width               : 470px;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  transform           : rotate(-270deg);
  opacity             : 1.0;
}
.tablet .group13 .untitledartwork81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 357px;
  height              : 259px;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 576px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group13 .untitledartwork82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 447px;
  width               : 369px;
  position            : absolute;
  margin              : 0;
  left                : 219px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 368px;
  height              : 46px;
  width               : 395px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  border-radius       : 8px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .emailaddress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 381px;
  height              : auto;
  width               : 455px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.tablet .agamifiedgoaltrac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 167px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tablet .turneverydaytasks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : auto;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .gamification {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.tablet .reward {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 559px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.tablet .involvement {
  background-color    : rgba(255,255,255,0.0);
  top                 : 673px;
  height              : auto;
  width               : 238px;
  position            : absolute;
  margin              : 0;
  left                : 302px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.tablet .motivatekidswithr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : auto;
  width               : 160px;
  position            : absolute;
  margin              : 0;
  left                : 559px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .involveparentsand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : auto;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 302px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 858px;
  height              : 556px;
  width               : 787px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .a1parentkidaddsg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : 135px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .a2parentkidaddsr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .a3kidcompletesgoa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 399px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .a4kidredeemsrewar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1222px;
  height              : auto;
  width               : 110px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .howitworks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1002px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 57.0px;
}
.tablet .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1099px;
  height              : 94px;
  width               : 139px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1099px;
  height              : 94px;
  width               : 151px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1099px;
  height              : 96px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : 214px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1099px;
  height              : 94px;
  width               : 165px;
  position            : absolute;
  margin              : 0;
  left                : 384px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 443px;
  height              : 45px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1464px;
  height              : 3215px;
  width               : 787px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .untitledartwork8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2383px;
  height              : 530px;
  width               : 522px;
  position            : absolute;
  margin              : 0;
  left                : 394px;
  transform           : rotate(270deg);
  opacity             : 1.0;
}
.tablet .untitledartwork74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2424px;
  height              : 324px;
  width               : 93px;
  position            : absolute;
  margin              : 0;
  left                : 550px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .rectangle22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2785px;
  height              : 605px;
  width               : 787px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .registerforupdates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2954px;
  height              : auto;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tablet .rectangle31 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 3087px;
  height              : 46px;
  width               : 395px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  border-radius       : 8px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .emailaddress1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3100px;
  height              : auto;
  width               : 455px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.tablet .group121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3088px;
  height              : 45px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .goaltracking {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1632px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tablet .starquest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2058px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 416px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tablet .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2401px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.tablet .parentsandkidscan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1725px;
  height              : auto;
  width               : 267px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .withthestarsgaine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2151px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 416px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .kidscancreatethei {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2494px;
  height              : auto;
  width               : 289px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .untitledartwork85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1342px;
  height              : 143px;
  width               : 199px;
  position            : absolute;
  margin              : 0;
  left                : 606px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .appfeatures {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1527px;
  height              : auto;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 42.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 57.0px;
}
.tablet .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1571px;
  height              : 347px;
  width               : 173px;
  position            : absolute;
  margin              : 0;
  left                : 472px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .untitledartwork10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2273px;
  height              : 373px;
  width               : 308px;
  position            : absolute;
  margin              : 0;
  left                : -127px;
  transform           : rotate(17deg);
  opacity             : 1.0;
}
.tablet .untitledartwork10copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2596px;
  height              : 373px;
  width               : 308px;
  position            : absolute;
  margin              : 0;
  left                : 583px;
  transform           : rotate(-17deg);
  opacity             : 1.0;
}
.tablet .untitledartwork10copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1864px;
  height              : 373px;
  width               : 308px;
  position            : absolute;
  margin              : 0;
  left                : 583px;
  transform           : rotate(-17deg);
  opacity             : 1.0;
}
.tablet .receivethelatestn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3022px;
  height              : auto;
  width               : 382px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.tablet .untitledartwork9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2717px;
  height              : 120px;
  width               : 212px;
  position            : absolute;
  margin              : 0;
  left                : -56px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .untitledartwork37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 591px;
  height              : 55px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 594px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .untitledartwork44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 590px;
  height              : 50px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 74px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .untitledartwork43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 595px;
  height              : 50px;
  width               : 56px;
  position            : absolute;
  margin              : 0;
  left                : 338px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.tablet .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2050px;
  height              : 322px;
  width               : 476px;
  position            : absolute;
  margin              : 0;
  left                : -72px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}