input:focus, textarea:focus, select:focus{
        outline: none;
    }

.web {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 4833px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(77, 56, 149, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.web .group13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -220px;
  height              : 2007px;
  width               : 1474px;
  position            : absolute;
  margin              : 0;
  left                : -22px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group13 .rectangle23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 536px;
  height              : 1470px;
  width               : 1455px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group13 .untitledartwork80 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : 345px;
  width               : 251px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group13 .untitledartwork83 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -86px;
  height              : 1053px;
  width               : 869px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  transform           : rotate(-270deg);
  opacity             : 1.0;
}
.web .group13 .untitledartwork81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 770px;
  height              : 369px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 1158px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group13 .untitledartwork82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 826px;
  width               : 682px;
  position            : absolute;
  margin              : 0;
  left                : 405px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .rectangle3 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 629px;
  height              : 52px;
  width               : 408px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  border-radius       : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .emailaddress {
  background-color    : rgba(255,255,255,0.0);
  top                 : 640px;
  height              : auto;
  width               : 841px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .agamifiedgoaltrac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : auto;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 55.0px;
}
.web .agamifiedgoaltrac2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 351px;
  height              : auto;
  width               : 508px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 55.0px;
}
.web .turneverydaytasks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1085px;
  height              : auto;
  width               : 263px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .gamification {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1012px;
  height              : auto;
  width               : 366px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.web .reward {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1012px;
  height              : auto;
  width               : 438px;
  position            : absolute;
  margin              : 0;
  left                : 955px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.web .involvement {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1012px;
  height              : auto;
  width               : 438px;
  position            : absolute;
  margin              : 0;
  left                : 502px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.web .motivatekidswithr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1085px;
  height              : auto;
  width               : 233px;
  position            : absolute;
  margin              : 0;
  left                : 955px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .involveparentsand {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1085px;
  height              : auto;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 502px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1321px;
  height              : 949px;
  width               : 1455px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .a1parentkidaddsg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1961px;
  height              : auto;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .a2parentkidaddsr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1961px;
  height              : auto;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 404px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .a3kidcompletesgoa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1961px;
  height              : auto;
  width               : 217px;
  position            : absolute;
  margin              : 0;
  left                : 744px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .a4kidredeemsrewar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1961px;
  height              : auto;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 1077px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .howitworks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1555px;
  height              : auto;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 66.0px;
}
.web .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1741px;
  height              : 174px;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1741px;
  height              : 174px;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 1076px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1741px;
  height              : 176px;
  width               : 258px;
  position            : absolute;
  margin              : 0;
  left                : 403px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1741px;
  height              : 174px;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 717px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 729px;
  height              : 52px;
  width               : 186px;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .rectangle21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2271px;
  height              : 5946px;
  width               : 1455px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .goaltracking {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2674px;
  height              : auto;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.web .starquest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3253px;
  height              : auto;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 776px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.web .parentsandkidscan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2806px;
  height              : auto;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .withthestarsgaine {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3385px;
  height              : auto;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 776px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .untitledartwork85 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2150px;
  height              : 211px;
  width               : 292px;
  position            : absolute;
  margin              : 0;
  left                : 1201px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .appfeatures {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2475px;
  height              : auto;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 48.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 66.0px;
}
.web .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2542px;
  height              : 492px;
  width               : 247px;
  position            : absolute;
  margin              : 0;
  left                : 995px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .untitledartwork10copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2992px;
  height              : 592px;
  width               : 488px;
  position            : absolute;
  margin              : 0;
  left                : 1124px;
  transform           : rotate(-17deg);
  opacity             : 1.0;
}
.web .untitledartwork37 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 912px;
  height              : 72px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 955px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .untitledartwork44 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 926px;
  height              : 53px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .untitledartwork43 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 912px;
  height              : 64px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 502px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3246px;
  height              : 443px;
  width               : 656px;
  position            : absolute;
  margin              : 0;
  left                : -127px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .untitledartwork8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3654px;
  height              : 819px;
  width               : 806px;
  position            : absolute;
  margin              : 0;
  left                : 864px;
  transform           : rotate(270deg);
  opacity             : 1.0;
}
.web .untitledartwork74 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3742px;
  height              : 493px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 1054px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .rectangle22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4233px;
  height              : 1119px;
  width               : 1455px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .group121 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4620px;
  height              : 52px;
  width               : 186px;
  position            : absolute;
  margin              : 0;
  left                : 781px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .registerforupdates {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4431px;
  height              : auto;
  width               : 766px;
  position            : absolute;
  margin              : 0;
  left                : 94px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 49.0px;
}
.web .avatar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3742px;
  height              : auto;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 41.0px;
}
.web .kidscancreatethei {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3874px;
  height              : auto;
  width               : 532px;
  position            : absolute;
  margin              : 0;
  left                : 120px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .untitledartwork10copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3959px;
  height              : 592px;
  width               : 488px;
  position            : absolute;
  margin              : 0;
  left                : 1031px;
  transform           : rotate(-17deg);
  opacity             : 1.0;
}
.web .rectangle31 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4620px;
  height              : 52px;
  width               : 627px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  border-radius       : 14px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.web .emailaddress1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4632px;
  height              : auto;
  width               : 556px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  transform           : rotate(0deg);
  opacity             : 0.68;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .receivethelatestn {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4540px;
  height              : auto;
  width               : 704px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(77, 56, 149, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.web .untitledartwork9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4125px;
  height              : 197px;
  width               : 349px;
  position            : absolute;
  margin              : 0;
  left                : -98px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
